@model IEnumerable<string>
@using Dotti.AspNetCore.TagHelpers
@{
    ViewData["Title"] = "List demo";
}
<div class="row">
    
    <div class="col-xs-12">
        <h3>Example of unordered list generated from list tag helper</h3>
        <ul asp-items="Model" ></ul>
    </div>
    <div class="col-xs-12">
        <h3>Example of ordered list generated from list tag helper</h3>
        <ol asp-items="Model" ></ol>
    </div>
</div>
